.single-shop-container {
  width: 100%;display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.single-shop-container-1 img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.single-shop-container-3-2-retailer-rating{
  display: flex;gap: 5px;align-items: center;padding-bottom: 15px;
  margin-top: -12px;
}
.single-shop-container-2 {
  width: 100%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;background-color: rgb(203, 231, 255);
  text-align: center;
  padding: 50px;
}
.single-shop-container-2-1{
  &:hover{
    cursor: pointer;
   color: rgb(224, 154, 133);
  }
}
.single-shop-container-3-2-retailer-name{
  font-size: 28px;
  font-weight: 700;}
.single-shop-container-3-2-phn{
  display: flex;gap: 5px;letter-spacing: 0.05px;
  font-size: 14px;font-weight: 700;
  font-family:'Trebuchet MS', sans-serif;
}
.single-shop-container-3-2-email{
  display: flex;gap: 5px;letter-spacing: 0.05px;
  font-size: 14px;font-weight: 700;
  font-family:'Trebuchet MS', sans-serif;margin-top: -5px;

}
.single-shop-container-3 {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.single-shop-container-3-1 {
  width: 100%;
  max-width: 500px;
}

.single-shop-container-3-2 {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.single-shop-container-3-1-2 {
  width: 100%;
  height: 80px;
  display: flex;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
.category-nav{
  width: 100vw;background-color: #000;
  height: 65px;display: flex;
  justify-content: center;gap: 20px;
  overflow:scroll;
  &::-webkit-scrollbar{
    display: none;
  }
}
.category-nav-button{
  height: 100%;padding: 10px;min-width: 70px;color: aliceblue;
border: none;border-radius: 4px;background-color: #000;
font-size: 16px;font-weight: 700;

}
.single-shop-container-3-1-2 img {
  width: 70%;
  height: 100%;
}
.single-shop-container-3-1-1{
  width: 100%;display: block;background-size: cover;
  height: 280px;
}
.single-shop-container-3-1-1 img {
  width: 100%;
  height: 100%;
}

.thumbnail {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  object-fit: cover;
}

.thumbnail:hover {
  border-color: #000;
}