.banner-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;margin: 10px 0 10px 0px;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.banner-title {
    font-size: 2.5em;
    margin: 0;
}

.banner-subtitle {
    font-size: 1.2em;
    margin: 10px 0 0;
}
