
.upload-container{
  background-color: rgb(43, 40, 40);
  display: flex;align-items: center;justify-content: center;
  color: white;
  padding: 40px;
}
.upload-footer{
  display: flex;justify-content: center;align-items: center;
  &:hover{
    scale: 1.1;
  }
}
.upload-container-form-div-header {
  width: 80vw;
}
.upload-container-form-div-header h1{
  display: flex;
  justify-content: center;align-items: center;
  font-size: 32px;font-weight: 990;
}
.upload-container-photo{
  margin-top: 20px;
  display: flex;align-items: center;
  gap: 10px;
}
.FaCloudUploadAlt{
  &:hover{
    cursor: pointer;
   scale: 1.1;
  }
}
.upload-gender-target{
  display: flex;gap: 50px;
}
.upload-gender-target-radio-container{
  display: flex;gap: 10px;
}
.upload-featured-produt-container{
  display: flex;gap: 10px;
}