.shop-by-category-container{
    width: 100%;
    display: flex;flex-direction: column;
    align-items: center;justify-content: center;
    gap: 20px;}
.shop-by-category-name {
    font-size: 23px;font-weight: bolder;
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
    margin: 0;padding: 0;
    .shop-by-category-name-bar {
        width: 100%;height: 2px;
        background-color: #7469B6;
    }
    .shop-by-category-name-ball {
        width: 18px; height: 5px;border-radius: 20px;
        position: relative;
        top: -3.5px;bottom: 2px;
        background-color: #7469B6;
        
    }
}


/*Slider*/
.slider-container{
    display: flex;flex-direction: row;
    align-items: center;justify-content: center;
    width: 100%;
}
.sliderParent{
    display: flex;flex-direction: row;
    justify-content: center;align-items: center;
    width: 90%;
}
.sliderParent-image {
    width: 100%;height: 100%;border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    padding: 1px 2px 1px 2px;margin: 0;
    img {
        display: flex;
        width: 100%;height:200px;
        background-size:contain;
        transition: all ease 0.3s;
    }
    &:hover {
        img {
            transform: scale(1.2);
        }
    }
}

/* Hide default slick arrows */
.slick-prev,
.slick-next {
    display: none !important;
}
.custom-arrow {display: flex;
    transform: translateY(-20px);
}
.arrow{
    size: 1000px;
    color: black;
}
/* Define styles for custom arrows */
.prev-arrow {left: 0;}
.next-arrow {right: 0;}