/* pinCodeFilterCss.css */
.pin-code-manager-conatiner{
    min-height: 90vh;
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
}
@media (max-width: 1100px) {
    .pin-code-manager-conatiner{
        min-height: 2000px;
        background-color: #0056b3;
    }
  }
  
.pin-code-manager {
    max-width: 400px;padding: 5px;width: 500px;
    height: 250px;color: white;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #0e0d0d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;flex-direction: column;gap: 10px;
  }
  
  .pin-code-manager h1 {
    text-align: center;
    color: #ffffff;
    font-size: 24px;font-weight: 700;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .input-group button{
    padding: 5px;
    height: 100%;
  }
  .pin-code-input {
    flex: 1;padding: 5px;
    padding: 10px;
    border: 1px solid #ccc;background-color: #333;
    border-radius: 4px;
    font-size: 16px;color: white;
    margin-right: 10px;
  }
  
  .add-button {
    background-color: #007bff;
    color: #fff;width: 100%;height: 50px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
.pin-code-list-home {
    color: #0e0d0d;display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .pin-code-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: #000000;
  }
  
  .pin-code-item:last-child {
    border-bottom: none;
  }
  
  .remove-button {
    min-width: 73px;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
    opacity: 0.8;color: white;
  }
  
  .remove-button:hover {
    background-color: #c82333;
    border: none;
  }
  