
/* Media query for mobile devices */
@media (max-width: 800px) {
    .CarouselSlide {
        height: 30vh; /* Adjust height for mobile */
    }

    .CarouselImage {
        width: 100%; /* Full width for mobile */
    }
}

/* Media query for larger devices */
@media (min-width: 801px) {
    .CarouselImage {
        width: 100%; /* Adjust width to fit more images in a row on larger screens */
    }
}
