/* searchProductCss.css */

.SearchProduct {
    padding: 50px 20px 30px 20px;
    display: flex;
    gap: 0px;
    justify-content: space-around;
    min-height: 1200px;
}
  
.search-product-page-container {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    align-items: center;
}
  
.search-product-page-grid {
    display: grid;
    grid-template-columns: repeat(5, 12rem); /* Five columns */
    grid-gap: 20px;
}
  
.search-product-page-pagination-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}
  
.search-product-page-pagination-button {
    width: 20%;
    height: 45px;
    margin: 0 5px;
    padding: 10px 0;
    font-size: 16px;
    background-color: #327bdb;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 19px 38px rgba(145, 142, 142, 0.3), 0 15px 12px rgba(209, 197, 197, 0.12);
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 700;
    text-align: center;
}
  
.search-product-page-pagination-button:hover {
    background-color: #000;
    color: #eeeded;
}
  
.empty-message, .error-message {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 20px;
}
.search-empty-message{   min-height: 100vh;
    display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 900;
}
  
@media (max-width: 1080px) {
    .search-product-page-grid {
        grid-template-columns: repeat(4, 12rem); 
        grid-gap: 20px;
    }
    .SearchProduct {
        min-height: 2000px;
    }
    .search-empty-message{   
        min-height: 1910px;
    }
}

  