.all-shop-page-container {
  display: flex;
  min-height: 2000px;
  flex-direction: row;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 200px;
}

.all-shop-page-grid {
  display: grid;
  grid-template-columns: repeat(5,12rem); /* Five columns */
  grid-gap: 20px;
}


.all-shop-page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.all-shop-page-empty-message, .all-shop-page-error-message {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-top: 20px;
}

.all-shop-page-pagination-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  border-radius: 8px;
}

.all-shop-page-pagination-button {
  width: 20%;
  height: 45px;
  margin: 0 5px;
  padding: 10px 0;
  font-size: 16px;
  background-color: #1e1c1c;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 19px 38px rgba(145, 142, 142, 0.3), 0 15px 12px rgba(209, 197, 197, 0.12);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  text-align: center;
}

.all-shop-page-pagination-button:hover {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.05);
}

@media (max-width: 1150px) {
  .all-shop-page-grid {
    display: grid;
    grid-template-columns: repeat(4,12rem); 
    grid-gap: 20px;
  }
}

@media (max-width: 100px) {
  .all-shop-page-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 100px) {
  .all-shop-page-grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
