.all-retailer-product-page-container-c {
  display: flex;
  gap: 30px;
  padding: 20px;
  margin-bottom: 200px; /* Added margin to ensure space for pagination */
}

.all-retailer-product-page-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 20px;
  justify-items: center; 
}

.all-retailer-product-page-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}

.all-retailer-product-page-empty-message,
.all-retailer-product-page-error-message {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-top: 20px;
}

.all-retailer-product-page-pagination-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
}

.all-retailer-product-page-pagination-button {
  width: 20%;
  height: 45px;
  margin: 0 5px;
  padding: 10px 0;
  font-size: 16px;
  background-color: #327bdb;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 19px 38px rgba(145, 142, 142, 0.3), 0 15px 12px rgba(209, 197, 197, 0.12);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  text-align: center;
}

.all-retailer-product-page-pagination-button:hover {
  background-color: #000;
  color: #eeeded;
  color: gold; /* Duplicate property, consider removing */
}

@media (max-width: 768px) {
  .all-retailer-product-page-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .all-retailer-product-page-pagination-button {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .all-retailer-product-page-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .all-retailer-product-page-pagination-button {
    width: 70%;
  }
}
