
#home-div {
    background: linear-gradient(45deg, #f9f3f3, #fcfcfc); /* Change colors as desired */
    display: flex;
    flex-direction: column;
    gap:50px;
    width: 100%; /* Ensure the div expands to at least the full width of the viewport */
}
#home-div-container{
    margin-top: 1.3px;
    min-height: 90vh;
}

@media (max-width: 1080px) {
    #home-div-container{
      min-height: 1700px;
    }
    
  }