.featured-Product-card {
    background-color: rgb(255, 229, 207);
    width: 195px;width: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    border-radius: 4px;
    z-index: 3;
    overflow: hidden;
    padding:10px;
    &:hover{
        scale: 1.05;
        cursor: pointer;
    }
}

.featured-Product-card-top {
    height: 67%;padding: 0;margin: o;
    width: 87%;
    transition: all ease 1s;
}
.featured-Product-card-top-image {
    height: 200px;
    width: 100%;
    border-radius: 4px;
}


.featured-Product-card-bottom {
    height: 45%;
    width: 100%;display: flex;flex-direction: column;
    justify-content: space-around;
    color: #000000;
}
.featured-Product-shop-detail{
    display: flex;flex-direction: column;

}
.shoe-name{
    font-size: 10px;
    font-weight: bolder;
}

.featured-Product-card-shop-name-div{
    display: flex;flex-direction: column;
    gap: 5px;
}


.featured-Product-card-shop{
    font-size: 15px;
    font-weight: 700;
}
.featured-Product-card-shop-price{
    padding-left: 2px;
    display: flex;
}
.price{
    display: flex;flex-direction: column;
    font-size: 10px;
    color: #707070;
}

.featured-Product-card-shop-name-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featured-Product-card-shop-name{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1;
}
.price_num{
    font-size: 20px;
    font-weight: bolder;
}




.featured-Product-card-button-container{
    position: relative;bottom: 0;
    display: flex;flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.button {
    position: relative;
    height: 33px;
    width: 43%;
    border-radius: 7px;background-color: rgb(67, 61, 61);
   box-shadow: rgb(144, 136, 136) 0px 25px 50px -12px;
}

.button button {
    position: relative;  
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 11px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    letter-spacing: 0.1px;
    color: #ffffff;
    &:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);border: 1px  solid white;
        border-radius: 7px;
        transition: all 0.3s ease;
    }
}