/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Hide scrollbar in Webkit browsers and prevent horizontal overflow */
body::-webkit-scrollbar {
  display: none;
}
/* Set height and width for root elements and apply font */
html, body, #root, .app, .content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

/* Flex container for app */
.app {
  display: flex;
  position: relative;
}

/* Scrollbar styles for Webkit browsers */
::-webkit-scrollbar {
  width: 0px; /* Adjust scrollbar width if needed */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px; /* Rounded corners for better aesthetics */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
